<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <style>
        body{background-image: url('static/background.jpg') ;}
    </style>
</head>
<body>
    <center><h1> NBA Players 2020 </h1></center>
    <h3>1. Distribution of Age</h3>
    <center>
        <img src="../static/dist.png" width="500" height="300">
    </center><br><br>

    <center>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/c8nnjY0WQfw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </center>

    <h3>2. Number of Players</h3>
    <center>
        <img src="../static/bar.png" width="500" height="300">
    </center><br><br>

    <h3>3. Average Salary</h3>
    <center>
        <img src="../static/salary.png" width="500" height="300">
    </center><br><br>

    <form method='POST' action =  "http://127.0.0.1:5000/">
        <button style="height: 45px;width: 200px; font-size: 20px; text-align: center; 
        line-height: 20px; background-color: green;color: cornsilk; type= "button" class= "btn btn-info"">
        Back</button>
    </form>

</body>
</html>