<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sport News</title>
    <style>
        body{background-image: url('static/background.jpg') ;}
    </style>
</head>
<body>
    <center>
        <h1>Purwadhika Sport News!</h1>
        <p>The best web to keep updated about your favorite sports.</p>
        <br><br>
        <!-- About -->
        <form method='POST' action =  "http://127.0.0.1:5000/about">
        <button style="height: 45px;width: 200px; font-size: 20px; text-align: center; 
        line-height: 20px; background-color: blue;color: cornsilk; type= "button" class= "btn btn-info"">
        About</button>
        </form><br><br>
        
        <form method='POST' action =  "http://127.0.0.1:5000/dataset">
        <button style="height: 45px;width: 200px; font-size: 20px; text-align: center; 
        line-height: 20px; background-color: green;color: cornsilk; type= "button" class= "btn btn-info"">
        Dataset</button>
        </form>
</center>
</body>
</html>